.root {
	--switch-color: var(--color-main, #888);
	font-size: 0;
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	outline-offset: 0;
	outline: 0 solid var(--switch-color);
	transition: outline-width 0.1s ease-in, outline-offset 0.1s ease-in;
	border-radius: 16px;
}

.root.disabled {
	--switch-color: #ccc;
	cursor: default;
}

/* TODO: use :focus-visible after https://github.com/mui/material-ui/issues/34986 is resolved */
.root.focusVisible {
	outline-width: 2px;
	outline-offset: 2px;
}

.root:hover:where(:not(.disabled)) {
	outline-width: 1px;
	outline-offset: 2px;
}

.track {
	background: var(--switch-color);
	border-radius: 16px;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
}

.thumb {
	display: block;
	width: 16px;
	height: 16px;
	top: 4px;
	left: 4px;
	border-radius: 16px;
	background-color: #fff;
	position: relative;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 120ms;
}

.root.checked .thumb {
	left: 20px;
	top: 4px;
	background-color: #fff;
}

.input {
	cursor: inherit;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	margin: 0;
}
