.root {
	--button-color: var(--main-color, #888);
	--text-color: var(--main-text-color, #fff);
	font-family: 'Kanit', sans-serif;
	font-size: 0.875rem;
	padding: 6px 14px;
	border-radius: 4px;
	border: 2px solid var(--button-color);
	outline-offset: 0;
	outline: 0 solid var(--button-color);
	transition: outline-width 0.1s ease-in, outline-offset 0.1s ease-in;
}

.filled {
	background-color: var(--button-color);
	color: var(--text-color);
}

.outlined {
	background-color: transparent;
	color: var(--button-color);
}

.root.small {
	padding: 2px 6px;
}

.root.large {
	font-size: 1rem;
	padding: 10px 22px;
}

.root:hover:where(:not(.disabled)) {
	outline-width: 1px;
	outline-offset: 2px;
}

.root:focus-visible {
	outline-width: 2px;
	outline-offset: 2px;
}

.disabled {
	opacity: 0.5;
}

.active {
	outline-offset: 4px;
	transition: outline-offset 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
